    <div id="servicebaseRefresh" class="SystemAdminFormPanel"  >   
    
        <form id="servicebaseRefreshForm" name="accessDeniedMsgForm" method="post"  action="#" class="inline">
                <fieldset>
                    <legend title="" > Servicebase Refresh</legend>
                    <p>
                        {foreach $dlg as $i}
                            {$i|escape:'html'}
                            <br>
                        {/foreach}
                        
                        <br><br>

                    </p>

                    <p>
                        Requested: {$count} Sucessful: {$success}
                        <br><br>
                    </p>
                    
                    <p>

                        <span class= "bottomButtons" >


                            <input type="submit" name="cancel_btn" class="textSubmitButton rightBtn" id="cancel_btn" onclick="{$link}"  value="OK" >

                        </span>

                    </p>


                </fieldset>   
        </form>            


    </div>   