/* Site
-------------------------------------------------------------- */

// Note: input fields do not inherit font-family
//       * forces all elements to inherit this value.
body *{ font-family: @sansSerifFonts;
 }

html,body{ height:100%; /* needed for container min-height */
//background:url(Skins/@{theme}/images/background_gray.png) repeat;
 }
 html{
 }
body{
background:url(Skins/@{theme}/images/ranbow_bckg.png) no-repeat 50% 0% @blackest;
}
a, a:focus { font-size: 1.0em; text-decoration: none; color: @black; }

a:hover { color: @gray; }
hr {
margin: 17px 0 18px;
height: 0;
clear: both;
border: solid #ddd;
border-width: 1px 0 0;
border-top: 1px solid #ddd;
border-bottom: 1px solid #fff;
 }
fieldset { margin-bottom: 0px;
 padding: 10px 20px;
.panel-white;
}

input,text-area,select { margin-top: 2px; margin-bottom: 2px; .border-radius(2px); }

form {
    label { 
        sup { color: @red; font-size: 1.0em; }
        margin-right: 10px;
		font-size: 1.0em;
    }
    input,select,span.text,textarea { color: @grayDark; .border-radius(2px); font-size: 1.0em; }
    textarea { resize: none; overflow:auto; font-size: 1.0em;}
    textarea.readonly {
        resize: none;
        border:none;
        background: @white;
        .remove-box-shadow();
		font-size: 1.0em;
        }
        
    input.readonly {
        border:none;
        background: @white;
        .remove-box-shadow();
		font-size: 1.0em;
        }     

    input.textSubmitButton {
        font-size: 0.9em; 
		.form-button;
		border:1px solid @black; 
        cursor: pointer;
    } 
    label.fieldError, label.formCommonError {
        background:url(Skins/@{theme}/images/error_icon.png) no-repeat 0px 3px;
        font-weight: bold;
        font-size: 1.0em;
        padding-bottom:3px;
        color: @red;
        text-align: left;
        padding-left: 20px;
    } 

     p { clear: both; font-size: 1.0em;}

     div.label { float:left; padding-top:10px; font-size: 1.0em; }
    
    .formError { font-size: 1.1em; color: @red; margin: 0 0 0 5px; }
    .auto-hint { color: #C0C0C0}
    .information { font-size: 1.0em; margin-top: 0.8em; margin-bottom: 0.8em; }     
    .error, .alert { .form-message( #fbe3e4, #8a1f11, #fbc2c4 ); }
    .notice { .form-message( #fff6bf, #514721, #ffd324 ); }
    .success { .form-message( #e6efc2, #264409, #c6d880 ); }
    .info { 
        span{ color: @red; font-size: 1.0em; }
        .form-message( #fff, #404040, #fff );
        font-size: 1.0em;
        margin: 110px;
    }
    .disabledField {
        background-color: #F0F0F0; 
		font-size: 1.0em;  
    }
    input#quick_find_btn,input#quick_find_btn2 {
        border: none;
        background-image:url('Skins/@{theme}/images/find_address.png');
        width:150px;
		height:21px;
        cursor: pointer;
		font-size: 1.0em;
    }  
    
}

/* Header Section
-------------------------------------------------------------- */
#container-main {
	background:#ffffff url('Skins/@{theme}/images/black_gradient.jpg') repeat-x top left;  
        padding:0px 20px 30px;
        margin: 1px auto 10px auto; 
	background-color:@white;
	box-shadow:0 10px 30px rgba(0, 0, 0, 0.3);
        height:auto !important; /* real browsers */
        /* NOTE: .main clashes with jquery blackbird so make it subordinate to .container */
        .main { .span(24); .last; margin-top: 10px; };
	.border-radius(2px);
	border-top:1px solid @black;
}


#header { 
    .span(24); .last; 
    padding-top: 0;
    margin-top: 11px;
    margin-bottom: 10px;
    position: relative;
    .logo { width: 166px; height: 100px; position: absolute; left: 0; bottom: 0;}
    #welcome { 
    color: @white; position: absolute; right:0; top:0px; font-size: 1.0em; }
    #skyline { width: 131px; height: 44px; position: absolute; left: 414px; bottom: 0; }
    #customer-care { font-size: 2em; position: absolute; right: 0; top: 0; }
    #flags { 
        line-height: 11px; position: absolute; right: 0; bottom: 0; 
        a { line-height: 11px; text-decoration: none; }
    }
    min-height: 54px;
	a{
	img#logo{
	padding-top:15px;
	}
	}
}

#lostUsernameForm, #accessDeniedForm {
    margin-top: 40px;
}
#lostPasswordForm, #resetPasswordForm  {
    margin-top: 60px;
}
#newUserForm, #registrationQueryForm {
    margin-top: 20px;
}
#registrationForm { 
    label { width: 160px; } 
    label.fieldError { width: 300px; margin-left: 177px; }
}

#open-jobs-form, #overdue-jobs-form {
   margin-top:10px;
   margin-bottom:20px;
    p { margin-bottom: 5px; }
    label { display: inline-block; width: 250px; text-align:left;padding:5px 0px 0px 5px; font-size:1em; }
    .job-block { display: inline-block; margin-left: 10px; padding: 0; border: 1px @quietColor solid; .border-radius(3px); .box-shadow-glow; }
}
#open-jobs-form p, #overdue-jobs-form p{
 border-bottom: 1px solid #dddddd;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#open-jobs-form .serviceInstructionsBar,
#overdue-jobs-form .serviceInstructionsBar {
    margin-right: 1.4em;
}

#tabs {
    a { font-size: 0.8em; padding-left: 5px; padding-right: 5px; }
    .browse { font-size: 0.8em; }
}

#menu { 
    text-align: left;
    width:950px;
    height:55px;
    .last { margin-right: 0; }
    button {
	.plain-button( @black, @black, @grayLightest );
        span.label { padding: 0; margin: 0 0.5em;  }
        margin:5px -2px 5px 0;
	height:42px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 13px;
        font-style: bold;
        font-weight: bold;
	padding:0em 0.3em;
        letter-spacing: normal;
        line-height: 1.6em;
        text-transform:uppercase;
	box-shadow:0 2px 5px rgba(0, 0, 0, 0.25);
	border:1px solid @black;
	background-image:url(Skins/@{theme}/images/menu_bckg2.png);
	background-position: top left;
	backround-repeat: repeat-x;
	height:41px;
	.transition( border-color .20s );
    } 
    button:hover{
	color:@white;
	background-image:url(Skins/@{theme}/images/menu_bckg_hover2.png);
	background-position: top left;
	backround-repeat: repeat-x;
	border-top:1px solid @gray;
	border-left:1px solid @grayLight;
	border-right:1px solid @grayLight;
	border-bottom:1px solid @gray;
	}
	button:active{
	background-image:url(Skins/@{theme}/images/menu_bckg_hover2.png);
	color:@grayLightest;
        border-top:1px solid @gray;
	}
    .disabled { cursor: default; color:@white;}
    .disabled:hover { .gradient(#f4f4f4, #f2f2f2); text-shadow: 0 1px 0 @gray;  border:1px solid #dddddd; }
}

.uppercaseText
{
    text-transform:uppercase
}
.lowercaseText
{
    text-transform:lowercase
}
.capitalizeText
{
    text-transform:capitalize
}


.breadcrumb {
    .span(24); .last;
	
    div { 
        padding: 3px 6px;
        color: @black;
        font-weight: bold;
		 font-size: 1em;
        a {  font-size: 1em; color: @black; padding: 3px 5px 5px 5px;  }
	
        a:hover { color: @gray; text-decoration:none; }
    }
}

#jobSearchForm a, #productSearchForm a, #newJobBookingForm a {
    .form-button;
    margin-bottom:10px;
}

#jobSearchForm a:hover, #productSearchForm a:hover, #newJobBookingForm a:hover{
.form-button-hover;
	}
#jobSearchForm a:active, #productSearchForm a:active, #newJobBookingForm a:active{
 .form-button-active;
	}


#newJobBookingForm {

    .spaceBlock {
        margin-right:20px;
        //width: 170px;
		.span(4);
        text-align:center;
    }
   label.fieldError {  margin-left:20px; font-size: 1em; }
}



#productSearchForm {

    .noResults {
        float:left;
        padding-left:20px;
        color:red;
    }
}

#loginForm.prepend-5 fieldset p span a[href*="/skyline_samsung/Login/newUser"],
#loginForm.prepend-5 fieldset p span.right-col a {
color:@blueDark;
.gradient(#ffffff, #f5f5f5);
box-shadow:0px 0px 0px rgba(0,0,0,.10);
}

#loginForm p span a, #loginForm p span a:hover, #loginForm p span a:active,
#loginForm.prepend-5 fieldset p span a[href*="/skyline_samsung/index/index"],
#newuser.main form#newUserForm.prepend-5 fieldset p span a, 
html body div#container-main div#newuser.main form#newUserForm.prepend-5 fieldset p a {
.form-button;
border:1px solid #dddddd;
padding-bottom:2px;
}
.blankBox {
    height:130px;
    width:100%;
  }
.SearchPanel {
    .span(24); .last; 
    h3 { display: inline-block; margin-right: 40px; }
   .border-radius(2px);
    margin: 10px 0 10px 0; 
    form {
      input[type=text] { width: 770px; font-size: 1.0em; color: @grayDark; .border-radius(2px) }
      input[type=radio] { font-size: 1.0em; color: @text; }
    }
   
    .bigTextBox
    {
         width: 770px;
		 font-size:1.0em;
    }

    fieldset{
       .panel-white;
    }
    .serviceInstructionsBar{
        padding: 0; margin-top: -12px; // height: 18px;  padding: 8px 0;
    }
    #productAdvancedSearchForm {
      .TopText { margin: 10px 0 10px 0; font-size: 1.0em; text-align: center;}
      select { font-size: 1.0em; }
      .formError { font-size: 1.0em;}
      .fieldLabel { .span(9); text-align: right; }
      

      label.fieldError { .span(10); margin-left:300px; }
      .centerBtn {

            text-align: center;
        }

        .noResults { margin: 10px 0 10px 0; font-size: 1em; text-align: center; color:red;}


    }
    #jobAdvancedSearchForm {
      input[type=text] { width: 250px !important;}
      .TopText { margin: 10px 0 10px 0; font-size: 1em; text-align: center;}
      select { font-size: 1em; width: 262px; }
      .formError { font-size: 1em;}
      .fieldLabel { .span(4); text-align: right; font-size:1em; margin-right:0px; padding-right:10px;}
      .fieldLabel2 { .span(3); text-align: right;font-size:1em; }
      label.fieldError { .span(10); margin-left:300px; }
      .centerBtn {
            text-align: center;
        }
    }
    #freeTextJobBookingForm {
        input[type=text] { width: 250px; font-size: 1em; color: @grayDark; margin:0;  }
        select { width: 312px; font-size: 1em; color: @grayDark; margin:0; }
        p { margin: 0 0 3px 0; }
    }
    hr { height: 3px; color: @accent-1; background-color: @accent-1;}
}

* html .SearchPanel #jobAdvancedSearchForm input {
	width:262px;
}

#productAdvancedSearchForm fieldset .last #container-main{
width:700px;
.panel-empty;
.box-shadow-remove;
}
#productAdvancedSearchForm fieldset{
height:90%;
}
.innerLegend{
height:35px;
font-size:14px;
}

.accordion {
    .span(24); .last;
    .head {
        cursor: pointer;
        background-color: @accent-1;
        color: @white;
        padding-top: 3px;
        padding-bottom: 3px; 
        padding-left: 3px;
        .border-radius(2px);
    }
    .content {
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 100px;
    }
}

.productDetailsPanel {
    p { clear: both; }
    .span(36); .last; 
    .productLabel { .span(4); font-size: 1em;}
    .productValue { .span(18); .last; font-size: 1em; }
}

.serviceInstructionsBar {
    text-align: right;
    padding: 0; margin-top: -12px;
}
.serviceInstructionsPanel {
    .span(22); .last;
}

.serviceActionsPanel {
    .span(24); .last;
    font-size: 1em;
    .textButton { padding: 20px; background-color: @accent-1; color: @white; border: 1px @text solid; font-weight: bold; font-size: 0.8em;}
    a { color: @white; }
    .textButtonDisabled { padding: 20px; background-color: @white; color: @text; border: 1px @text solid; font-size: 0.8em; }
    .textDisabled { color: lighten(@text, 20%); padding-top: 10px; }
    .textEnabled { color: @text; padding-top: 10px; }
}

.jobPanel {
    .prepend(1); .span(22); .append(1); .last;
    border: 1px @text solid;
    font-size: 1.0em;
    .centre { .span(24); .last; padding-bottom: 20px; padding-top: 20px; }
    .fieldLabel { .span(6); text-align: right; }
    .fieldValue { .span(16); .last;}
    #print { .prepend(6); .span(6); }
    #finish { .span(2); .last; }
    padding-bottom: 20px;
}

.filterPanel {
    .span(22); .last;
    font-size: 1.0em;
    padding-bottom: 20px;
}

.buttonPanel {
    .span(24); .last;
    font-size: 1.0em;
    padding-top: 20px;
    #select { .prepend(13); .span(9); }
    #cancel { .span(2); .last; width:auto; float:right; }
    hr { margin-bottom: 2px; }
}

.jobBookingPanel {
    .prepend(1); .span(22); .append(1); .last;
    .jobBookingLabel { .span(6); text-align:right; margin: 5px 5px 5px 0;}
    .jobBookingValue { .span(16); .last; text-align:left; margin: 5px 0 5px 5px;}
    .jobBookingValueInner {.last; text-align:left; font-size: 1.0em; margin: 0px 0 3px 2px; padding-left:320px;}
    .jobBookingTopText {.last; text-align:left; font-size: 1.0em; margin: 0px 0 3px 2px; padding-left:10px;
         span { color: @red; font-size: 1.0em; }
     }
    .blueText { color:@blue; }
  
    form {
        input[type=text] { width: 390px; .border-radius(2px); font-size:1em;}
        input[type=radio] {margin-bottom:6px;margin-top:4px;.border-radius(2px); font-size:1em;}
        span { font-size: 1.0em; .border-radius(2px);}
	label{ margin-right:10px; width:300px;vertical-align:top;}
        .dateField { width:111px; !important }
        .phoneField { width:222px !important }
        .extField {  width:153px !important }
        .oneThirdField {  width:116px !important }
        .oneThirdTextLabel { 
            font-size:1em;
            padding-left:12px;
            padding-right:2px;
            text-align: left;
            width:120px !important; 
        }
                .topTextLabel { 
            font-size:1em;
            margin-left:12px;
            margin-right:2px;
            text-align: left;
            margin-top: 10px;
        }

        textarea { font-size: 1.0em;  width: 390px; height:100px; .border-radius(2px);}
        select { font-size: 1.0em;  width: 402px; .border-radius(2px);}
        /*a { margin-left: 10px; }*/
        //label { .span(6); font-size:1em;}
        label.fieldError { .span(12); margin-left:325px; }
        .form-button {
            cursor:pointer;
			border:1px solid @black;
			height:26px;
        }
    }
}


input #productSearch .text{
.border-radius(2px);
font-size:1em;
}


.jobConfirmation {
    label { padding-left:10px; }

   h2 { 
        text-align: center;
    }    


    .fieldLabel { .span(4); text-align: right; }
    .fieldValue { .span(14); .last; text-align: left;}
    .fieldValueSub{.span(14); font-size: 0.9em;  color:@blue;  text-align: left;}
    .moreInfo{font-size: 0.9em;  color:@blue;  text-align: left;}
    
    .bottomButtons { .span(17); text-align: center; }

     .topText { .span(18); text-align: center; padding-bottom:10px;}
   
    label.fieldError { .span(14); font-size: 1em;}

   .leftBtn {

        float:left;
    }
    .centerBtn {

        float:center;
    }
    .rightBtn {
       
         float:right;
    
    }

   .form-button {
            cursor:pointer;
        }

}

.noEmailPage{

   .blueText {
        color:@blue;
    }
    
    label.fieldError { .span(6); font-size: 1em; margin-left:180px;}

    input[type=text] { width: 220px;}

   .insideText {
          
        padding-left:30px;
        padding-right:30px;
    }
}


.allYoursPage{

    .insideText {
          
        padding-left:30px;
        padding-right:30px;
    }

   
}




.jobCancelationRequest { 

   
    label {
            font-size: 1.1em;padding-left:10px; .span(17)
        }

    

    .bottomButtons { .span(17); text-align: center;}

    .topText { .span(17); text-align: center;}

    
   
   
}


.bookingProcessPanel {
    
    


    .prepend(1); .span(22); .append(1); .last;

    p, h2 { 
        text-align: center;
    }
   
    

    label { text-align:center; .span(20); font-size:1em;}
    
    .leftBtn {

        float:left;
    }

    .rightBtn {
       
         float:right;
    
    }

}



.PostCodeNotListedForm {
   label{
     text-align:left;
   }
}

.dataProtectionPage {
    
   h2 { 
        text-align: center;
    }

    label{
     text-align:left;
   }
    .leftText {
         text-align:left;
    }
    
 .rightText {
         text-align:right;
         padding-left:110px;
    }



    table
    {
        border-color: @blue;
        border-width: 0 0 1px 1px;
        border-style: solid;
    }

    td, th
    {
        border-color: @blue;
        border-width: 1px 1px 0 0;
        border-style: solid;
        margin: 0;
        padding: 4px;
    }
    th {
        font-size:1.5em;
    }
    .firstColumn {
    
        width:30%;
        font-weight:bold;
    }

    .textLink {
    
        font-size:1em;
    }

    .padLeft {
    
        padding-left: 20px;
    }

     .bottomButtons { .span(17); text-align: center;}
    label.fieldError { .span(12); font-size: 1em;}
}

#timeline_container {
    legend {  margin-left: 20px; }
    fieldset { padding: 10px 0; }
    margin: 0;
    float: left;
    p { text-align: center; font-size:0.9em;}
    .node-8 { float: left; width: 119px; }
    .first-8, .last-8 { float: left; width: 117px; }
    .node-6 { float: left; width: 158px; }
    .first-6, .last-6 { float: left; width: 158px; }
    .past, .past-RED { background: url("Skins/@{theme}/images/past.png") no-repeat center 35px; }
    .present {background: url("Skins/@{theme}/images/present.png") no-repeat center 35px; }
    .present-RED {background: url("Skins/@{theme}/images/present-red.png") no-repeat center 35px; }
    .future, .future-RED { background: url("Skins/@{theme}/images/future.png") no-repeat center 35px; } 
    .date { margin-top:60px; }
    }

.openJobsPanel {

  .append(1); .last;
   width:100%;
   .textPadding{
        padding-top:10px;
    }
   .leftAlign {
    
    float:left;
    width:94px;
    height:26px;
    text-align:center;
    border-style:solid;
    border-width:1px;
    border-color:#CCCCCC;
    vertical-align:bottom;
    padding:5px 0px 0px 0px;
    margin-right:12px;
        
    }
   
    .imgMiddle 
    {
        padding-top:5px;
    }

    .rightAlign {
    
    float:right;
        
    }

    .textLink 
    {
        color: @blue;
    }

 
}

.openJobsResultsPanel{

    padding-top:15px;
}


.overdueJobsPanel {


  .append(1); .last;
   width:100%;
   .textPadding{
        padding-top:10px;
    }

  .leftAlign {
    float:left;
    width:94px;
    height:26px;
    text-align:center;
    border-style:solid;
    border-width:1px;
    border-color:#CCCCCC;
    vertical-align:bottom;
    padding:5px 0px 0px 0px;
    margin-right:12px;
	background:#ffffff;
        
    }
   
    .imgMiddle 
    {
        padding-top:5px;
    }

    .rightAlign {
    
    float:right;
        
    }

   .textLink 
    {
        color: @blue;
    }
 
}

.overdueJobsResultsPanel{

    padding-top:15px;
}

.AdminItemPanel{
   height:140px !important;
	height:160px;
    background:url(Skins/@{theme}/images/folder.png) no-repeat 20px 20px;
	width:260px !important;
    .span(6);  .last;
    border-left: 1px solid #B8B8B8;
	border-right: 1px solid #B8B8B8;
	border-bottom: 1px solid #B8B8B8;
	border-top: 10px solid #CDCDCD;
    font-size: 1.0em;
    margin: 15px 5px 15px 0px;
    padding-left: 20px;
    padding-right: 20px;
	padding-top:10px;
	box-shadow:0 3px 2px rgba(0, 0, 0, 0.2);
    cursor:pointer;
	.border-radius(2px);
    label {
         color:@black;
		 font-size:1.2em;
         margin-top:10px;
         margin-right:0px;
		 margin-bottom: 5px;
         cursor:pointer;
		 padding-left:30px;

    }
    span {
         color: @text;


    }

}


.AdminItemPanel:hover{
background-color:#eeeeee;
}

.systemAdminPanel {

  .append(1); .last;
   width:100%;
   label { text-align: left; }

}



.LTResultsPanel {

    margin-top:20px;
   .append(1); .last;
    width:100%;
   label{ 

        text-align:left;
    }

}

.LTTopPanel {

   
   .append(1); .last;
    width:100%;
   label{ 
		font-size:1.0em;
        text-align:left;
    }

}





.SystemAdminFormPanel {

    label {
            padding-left:10px;
        }

    h2 {
            text-align: center;
        }

     select {  width: 312px; font-size:1em; }

    .fieldLabel { .span(3); text-align: right; }
    .fieldValue { .span(12); .last; text-align: left;}

     .topText {.last; text-align:left; font-size: 1.0em; margin: 0px 0 3px 2px; padding-left:115px;

         span { color: @red; font-size: 1.0em; }

     }

     p { padding-bottom: 3px; }

    .bottomButtons { .span(14); text-align: center; }

    label.fieldError { .span(8); font-size: 1.0em; margin-left:140px; }

    label.formCommonError { .span(14); font-size: 1.0em;  text-align: center; }

   .leftBtn {

        float:left;
    }
    .centerBtn {

        float:center;
    }
    .rightBtn {

         float:right;
		 position:relative;
		 bottom:30px;
		 right:100px;

    }

}

.bottomButtonsPanel {

    margin-top:20px;
   .append(1); .last;
   width:100%;
   hr {
        height:1px;
    }


   .leftBtn {

        float:left;
    }
    .centerBtn {

        float:center;
    }
    .rightBtn {

         float:right;

    }
    
}

.ServiceAdminResultsPanel {

    margin-top:20px;
   .append(1); .last;
    width:100%;
   label{ 

        text-align:left;
    }

}

.ServiceAdminTopPanel {

   
   .append(1); .last;
    width:100%;
   label{ 

        text-align:left;
    }

}
#SNFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    .phoneField { width:185px }
    .fieldInput { 
        float:left; margin-left:20px; 
        ul {
            margin:0; padding:0;
            li { 
                list-style: none;
                .close { cursor:pointer;}
            }
        }
    }
    .extField {  width:100px }
    label.fieldError { .span(8); font-size: 1.0em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }

}


#ClientsFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    .phoneField { width:185px }
    .extField {  width:100px }
    label.fieldError { .span(8); font-size: 1.0em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }

}

#BrandsFormPanel {

    .fieldLabel { .span(4); text-align: right; }
    label.fieldError { .span(8); font-size: 1.0em; margin-left:185px; }
    p { padding-bottom: 1px; }
   
}

#BranchesFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    .phoneField { width:185px }
    .extField {  width:100px }
    label.fieldError { .span(8); font-size: 1.0em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }
   .checkBoxText {
        width:300px;
        text-align:left;
        margin-left: 275px;
        font-size:1em;
        label.fieldError { .span(8); font-size: 1.0em; margin-left: 0px; }
    }
    
}

#ManufacturersFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    label.fieldError { .span(8); font-size: 1.0em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }
    .labelHeight { height: 27px; }
}

.assignedTextBox { 
    margin-left:25px;
   }
.checkBoxDataTable {
    margin-left:10px;
}   

.centerInfoText
{
    text-align: center;
    align: center;
    color:@blue;
    font-weight: bold;
    font-size:13px;
}

#UnitTypesFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    label.fieldError { .span(8); font-size: 1.0em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }
    .labelHeight { height: 27px; }
}


#ModelsFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    label.fieldError { .span(8); font-size: 1.0em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }
    .labelHeight { height: 27px; }
}

.topDropDownList {

    width:220px;
}


#PricingStructureFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    label.fieldError { .span(8); font-size: 1.0em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }
    .labelHeight { height: 27px; }
}


#ProductNumbersFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    label.fieldError { .span(8); font-size: 1.0em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }
    .labelHeight { height: 27px; }
}



.ac_results {
        width: 309px;
        padding:0px;
	margin: 0px 0px 0px 220px;
	border: 1px solid #7FB7FB;
	overflow: hidden;
        background-color: @blue;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	/*filter:mask();*/
	/*width:3000px;
	height:3000px;*/
  
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	overflow: hidden;
  
}

.ac_loading {
	background : @blue url('Skins/@{theme}/images/loader.gif') right center no-repeat;
}

.ac_over {
	background-color: white;
	color: black;
}


#ServiceProvidersFormPanel {

    .fieldLabel { .span(5); text-align: right; }
    .phoneField { width:185px  }
    .extField   {  width:100px }
    .timeField  {  width:137px; text-align:left; } 

    .textArea   {  width:299px;height:100px;margin-left:1px; } 



    label.fieldError { .span(8); font-size: 1.0em; margin-left:220px; }
    p { padding-bottom: 1px; }
    hr { 
        
        height:1px;
        margin:5px 0px 5px 0px;
        padding:0px 0px 0px 0px; 

       }
   .labelHeight { height: 27px; }    
}

legend{
	.border-radius(2px);
	.gradient(#ffffff, #FEFEFE);
        color: @grayDark;
        font-weight: bold;
        text-transform:uppercase;
	font-size:1.3em;
        height: 25px;
        line-height: 25px;
        margin: 0;
        padding: 0 15px;
	font-family:"Arial Black", sans-serif;
        letter-spacing:-0.02em;
	}

#error{
.panel-empty;
box-shadow;
padding:10px;
font-size:1.0em;
width:90%;
height:400px;
background: url("Skins/@{theme}/images/error_page.png") no-repeat top left;
}

#error h2{
    color:#666;
    font-size: 1.2em;
    padding-left: 50px;
    padding-top: 190px;
    text-align:left;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

 #error p{
 padding-left: 50px;
 padding-top: 20px;
 color: @blueDark;
 font-size:1.3em;
 }
 
  #error h3{
  padding-top:5px;
  padding-left: 50px;
  color:#666;
  }

.postCodesBox {
    float: right; 
    margin-right: 20px;
    margin-top:0px;
    padding-top:0px;
    margin-bottom:30px;
    width: 425px; 
    height: 230px;
}

#generalDefaultFormPanel {

    .text_area { width: 300px; height:150px; }
}


#JobNetworkClientForm
{
     
        label { width:100px; }
        label.fieldError { .span(7); margin-left:120px; }
        .formError { font-size: 1.5em; color: @red; margin: 0 0 0 5px; }

        .form-button {
            //cursor:pointer;
            //margin-right:20px;
			border:1px solid @black;
        }
    
}
/* login page */
textarea, select, input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="range"]){
.border-radius(2px);
font-size:1em;
height:auto;
}

h1 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 1.4em;
    margin-bottom: 0.75em;
}
h3 {
    font-size: 1.3em;
    line-height: 1;
    margin-bottom: 1em;
}
h4 {
    font-size: 1.0em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}
h6 {
    font-size: 1em;
    font-weight: bold;
}

#openJobsForm.inline fieldset div.innerFieldSet fieldset span.leftAlign{
background:@white;
}

#ServiceCentre, #jobdetails, .contact-info{
font-size:1em;
}

/* edit buttons  */

p a.inline-edit{
	position:relative;
	bottom:5px;
	display:inline;
}

a.colorbox, a.inline-edit{
.form-button;
color:@white;
padding:5px 7px;
    display: inline-block; .box-shadow-glow; .border-radius(2px);
  .box-shadow-glow;
}
a.colorbox:hover, a.inline-edit:hover{
.form-button-hover;
    color: @white;
    cursor: pointer; 
}
a.colorbox:active,  a.inline-edit:active{
	.form-button-active;
    box-shadow: inset 0 0 1px 0px #306386, 0 0 1px 0 #306396;
	}

/* logout button */

html body div#container-main div#header span#welcome a{
.form-button;
padding:3px 15px 3px 25px;
background:url("Skins/@{theme}/images/button_gradients_white.jpg") top left;
color:@white;
//background-image:#336699;
position:relative;
bottom:5px;
left:5px;
}

html body div#container-main div#header span#welcome a:hover{
.form-button-hover;
}

html body div#container-main div#header span#welcome a:active{
.form-button-active;
}

/* legend */
#CustomerDetails fieldset legend{
background-image: url(Skins/@{theme}/images/icons_skyline/icons_skyline_user.png);
background-repeat:no-repeat;
background-position:top left;
background-color:@white;
padding:0 10px 0 30px;
}

#deliveryAddress fieldset legend{
    background-image: url(Skins/@{theme}/images/icons_skyline/icons_skyline_truck.png);
    background-repeat:no-repeat;
    background-position:2% 0%;
    background-color:@white;
    padding:0 10px 0 42px;
}

#deliveryAddress fieldset {
    padding-top:10px;
}

/*  Default Diary  */

.siteMapPanel {

 h3 { margin-bottom:4px; margin-top:20px; padding-bottom:0px;}
 .firstDiv
   {
       width:280px;
       float:left;
   }

 .labelLeft {
   width:200px;
   text-align:left;
   font-size:1em;
   padding:3px;
 }

.secondDiv
   {
       width:560px;
       float:left;
       margin-left:15px;
       margin-right:10px;

   }

 .borderDiv {

   border-color:#CCCCCC;
   border-width:1px;
   border-style:solid;
   margin-top: 20px;
   padding:10px 10px 7px 7px;

 }
 
 #thirdDiv{
 
.form-button{
border:1px solid @black;

}

 
 }


 .form-button {
           cursor:pointer;
       }

 .fieldLabel { width:170px; text-align: right; }

   .assistDiv {

      text-align:center;
      border-style:none;
      margin-top:6px;
      padding:0px 10px 7px 7px;

     }

     label.fieldError { margin-left:193px;}
}


#SPEResults {

   margin-top:3px;
   border-style: none;
   background-color:none;
   td {
       border-style: none;

   }

   th {
       border-style: none;
       height:0px;
   }

}

#PostCodeMapTable {

   td {
       background-color:transparent;
       background-image: url('');
       border-color:#CCCCCC;
       border-style:solid;

   }

   .topFirstCol, .topSecondCol{
        border-bottom-width:1px;
        text-align:center;
   }
   .firstCol{

       border-left-width:1px;
       border-bottom-width:1px;
       border-right-width:1px;
       width:70px;
       text-align:center;
       vertical-align:top;
   }

   .secondCol{

       border-bottom-width:1px;
       border-right-width:1px;
   }

   textarea {

       width:445px;
       height:35px;

   }
   margin-bottom :0px;
}


#SPSSResults {

   margin-top:3px;
   border-style: none;
   background-color:none;
   td {
       border-style: none;

   }

   th {
       border-style: none;
       height:0px;
   }

}

#skillsAreaMapForm {
label.fieldError { margin-left:5px; font-size:1em;}
}

#SPSFormPanel {

   .fieldLabel { .span(5); text-align: right; }
   label.fieldError { .span(9); font-size: 1em; margin-left:220px; }
   p { padding-bottom: 1px; }
   hr {

       height:1px;
       margin:5px 0px 5px 0px;
       padding:0px 0px 0px 0px;

      }
   .labelHeight { height: 27px; }
}

.ServiceProvidersPage
{
    .span(18);
}
#SiteMapPageHeader, .SiteMapPageHeader  {

    text-align:center;
    color:@accent-1;
}

/* astr table */
#astrTable{
width:450px;
float:right;
border:1px solid #E5ECF9;
position:relative;
top:30px;
.box-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
padding:5px;
margin-top:30px;
}

#astrLeftDiv.corners h3.blue-letters-large{
color:@blue;
}

#sitemapContainer.wrapper div#right-panel.corners div.sidebar-nav ul.nav{
list-style-type:none;
li a{
color:@blue;
}
}

/* call logged analysis */
#right-panel h3 {
	position: relative;
	top:20px;
	}
	
#right-panel.corners div.sidebar-nav ul.nav{
	width:300px;
	padding-top: 20px;
	
	li {
	border-bottom: 1px solid #dddddd;
	padding:5px 0px;
	}
	}
	
	/* general IE6 fixes */

         * html body div#container-main div#menu button.first{
        position: relative;
        zoom: 1;
        }

        * html body div#container-main div#menu button span.label{
       position: relative;
        zoom: 1;
        }
	
	* html body div#container-main p{
		font-size:1em;
	}
		
	* html .ui-menu .ui-menu-item a {
	text-align:left;
	}
	
	* html .ui-combobox{
	height:12px;
	padding:0px;
	}
	
	* html input{
	height:20px;
	}
	
	
	* html img.ui-datepicker-trigger{
	padding:0px 3px 5px 3px;
	}
	
			
	* html #jobBookingForm.inline fieldset p#jbOriginalRetailerElementTop label{
	display:inline;
	padding-left:30px;
	}
	* html p#jbOriginalRetailerElementTop{
	margin-left:250px;
	width:600px;
	}
	
	* html #ProductDetailsFormPanel div p span.fieldInput select#ManufacturerID.text, * html #ProductDetailsFormPanel div p span.fieldInput select#ProductTypeID.text{
	width:140px;
	float:right;
	position:relative;
	}
	
	* html #jobdetails .head .icon_c, #jobdetails .head .icon_e{
	background: url("Skins/@{theme}/images/accordion_icons.jpg") no-repeat scroll 0 top transparent;
    float: right;
	position:relative;
    height: 18px;
    margin: 0 6px 0 0;
    width: 18px;
	}
	
	button.gplus-blue{
	position:relative;
	float:left;
	}

       



/*
#astrTable td {
  background-color:white;
  border:2px solid black;
  margin:5px;
  padding:5px 10px;
}
#astrTable {
  border-collapse:collapse;
  margin:15px;
  width:auto;
  color:#000000;
  font-size:11px;
}
#astrTable .astrTableEmptyTd {
  width:5px;
  padding:0;
  border-top:none;
  border-bottom:none;
}
.astrTableFirstTd, .astrTableLastTd { font-size:28px; }
#astrTable .astrTableLastTd {
  padding-left:20px;
  padding-right:20px;
}
#astrLeftDiv { height:543px; }

.inline {
    display:inline-block;
}

#jobSearchDropdowns {
    margin-bottom:-33px;
}

#jobSearchDropdowns select {
    width:314px;
}

#chart_div {
    margin-top:20px;
}

#csvSelectFile {
    display:none;
}

.button {
    width:100px;
    text-align:center;
}
*/


.CsvButton {
    background-image: url("Skins/@{theme}/images/button_gradients.png");
    background-repeat: repeat-x;
    border: 1px solid @black;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    display: inline-block;
    padding: 3px 7px;
    text-decoration: none;
    width:100px;
}

.textCenter {
    text-align:center;
}

#csvImportA, #csvSearchA {
    width:150px;
    margin-bottom:10px;
}

#AppointmentTypeTable {
    padding-left:40px;
    padding-right:40px;
   
    align:center;
    
    margin-top:10px;

    
    .firstTD {
        background-color:transparent;
        text-align:left;
        width:50%;
    }
    .secondTD {
        
        background-color:transparent;
        text-align:center;
       
    }
    .thirdTD {
        
        background-color:transparent;
        text-align:right;
        
     }

}
#skillsSetSPForm
{
    .fieldError { margin-left:10px; text-align:center; }
}

.topOneThirdTextLabel { 
    font-size:1em;
    padding-left:1px;
    padding-right:2px;
   
}

.rowWrapper, #buttonWrapper {
    clear:both;
    display:block;
    position:relative;
    float:left;
    width:100%;
    margin-bottom:5px;
}

#buttonWrapper {
    margin-top:15px;
}

.rowHeading {
    display:block;
    position:relative;
    float:left;
    width:100px;
}

.blackBold {
    color:black;
    font-weight:bold;
}

#progressBarWrapper {
    margin-top:15px;
}

#percentage {
    text-align:center;
    width:100%;
    margin-bottom:-24px;
    color:black;
    font-weight:bold;
    z-index:9999999;
}

#descriptionInput {
    height:16px;
    padding:0px;
    width:200px;
}

.ui-progressbar .ui-progressbar-value { 
    background-image: url(Skins/@{theme}/images/pbar-ani.gif); 
}

.TimeSlotActiveTab
{
    background-color: #014A99;
    color: #FFFFFF !important;
    font-weight: normal !important;
}

#progressbar {
    border: 1px solid gray;
}

#deleteDiv {
    width:320px;
}

#deleteDiv p {
    margin-top:15px;
}

#deleteYes, #deleteNo, #deleteClose {
    background: -moz-linear-gradient(center top , #25A7E8, #158BC6) repeat scroll 0 0 transparent;
    border: 1px solid #1489C4 !important;
    border-radius: 2px 2px 2px 2px;
    color: #444444;
    cursor: pointer;
    margin: 5px 5px 5px 0;
    padding: 5px 6px 6px;
    text-decoration: none;
    transition: border 0.2s ease 0s;
    color:white;
    width:60px;
}

#deleteButtonWrapper {
    text-align:center;
}

#csvSearchDiv {
    width:800px;
}

#editDeliveryDetails fieldset p label {
    width:200px;
}

#editDeliveryDetails label.fieldError {
    float: left;
    margin-left: 220px;
    margin-right: 10px;
    width: 390px;
}

#csvSelect {
    color:white; 
    margin-top:-30px;
    width:100px;
}

#serviceSelect {
    margin-bottom:-35px;
}

#networkSelect {
    margin-bottom:10px;
    margin-right:8px;
}

#networkSelect, #clientSelect, #branchSelect {
    display:inline-block;
}


.raJobsPanel {

   .append(1); .last;
   width:100%;

   .textPadding{
        padding-top:10px;
    }
   .leftAlign {
    
        float:left;
        /*width:144px;*/
        height:26px;
        text-align:left;
        vertical-align:bottom;
        padding:5px 0px 0px 10px;
        margin-right:12px;
        font-weight:bold;
        color:@black;
        
    }
   
    .imgMiddle 
    {
        padding-top:5px;
    }

    .rightAlign {
    
    float:right;
        
    }

    .textLink 
    {
        color: @blue;
    }

 
}

.raJobsResultsPanel{

    padding-top:15px;
   form {
         label.fieldError { .span(15); margin-left:215px; }
         img { padding-right:3px; padding-bottom:4px; }
   }
}

#diaryDefaultsForm{
   
    label.fieldError { .span(10); margin-left:145px;}
    p { padding:2px; margin: 2px; }
    label { .span(7); }
  
}

#ClientsList
{
   td { background-color:transparent; }
}

.RAHistoryNotes{

    color:@black;
    font-size:14px;
    float:left;
    font-weight:bold;

}

.opnJobsNum {
    width:30px;
    display:inline-block;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers {
    color: @black;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
    background-color: #F3F3F3;
    border: 1px solid #D9D9D9;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    display: inline-block;
    margin-left: 2px;
    padding: 2px 6px;
    transition: border-color 0.2s ease 0s;
}

div.dataTables_paginate span > a {
    text-align: center;
    width: 28px;
}

a.paginate_active {
    border-color: #C6C6C6 !important;
    box-shadow: none;
    color: @black !important;
}

.DTTT_selected td {
    background-color: #C2C2C2 !important;
}

.DTTT_container {
    position:relative;
    float:left;
    width:none;
}

.DTTT_button, .blueBtn {
    background: #25A7E8;
    background: -moz-linear-gradient(center top, #404040, #262626) repeat scroll 0 0 transparent;
    background: -ms-linear-gradient(top, #404040, #262626);
    background: -o-linear-gradient(top, #404040, #262626);
    background: -webkit-linear-gradient(top, #404040, #262626);
    border: 1px solid #252525 !important;
    border-radius: 2px 2px 2px 2px;
    color: #444444;
    cursor: pointer;
    display: inline-block;    
    padding: 8px 0px;
    text-decoration: none;
    transition: border 0.2s ease 0s;
    color: #fff;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 13px;
    margin:6px 5px 0px 0px;
    width:85px;
    text-align:center;
}

.DTTT_button:hover, .blueBtn:hover {
    background:#158fcb;
    background:-webkit-linear-gradient(top,#363636,#1D1D1D);
    background:-moz-linear-gradient(top,#363636,#1D1D1D);
    background:-ms-linear-gradient(top,#363636,#1D1D1D);
    background:-o-linear-gradient(top,#363636,#1D1D1D);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#189fe3,endColorstr=#137eb4);
    color:#fff;
}

.blueBtn:focus {
    font-size: 13px;
}

#jobsDiv .DTTT_button {
    width: 120px;
}

.dataTables_wrapper select {
    margin-top:0;
}

.hoverCell {
    display: block;
    position: relative;
    width: 90%;
    height: 100%;
}

#jobBookingForm, #JobNetworkClientForm, #raJobsStatusForm, #appointmentDiaryForm, #skillsAreaMapForm, #skillsSetSPForm, #diaryDefaultsForm { 
   .ui-icon { padding: 0; }
}

.jobBookingDiaryPanel {
    
    
    padding-left:10px;
    padding-right:0px;

   .span(15); 

   

}

.jobBookingDiaryRightPanel
{
    
    
    padding-left:0px;
    padding-right:0px;

   .span(7); 

   .slotText {
    
        color: #179BDD;
        font-size:11px;
        padding: 0px 0px 0px 2px;
    }

}


#DivEditAddress {
    
   
    form {
        input[type=text] { width: 290px; .border-radius(2px); font-size:1em;}
        label{ margin-right:10px; width:200px;vertical-align:top;}
        .phoneField { width:170px !important }
        .extField {  width:104px !important }
       
        select { font-size: 1.0em;  width: 302px; .border-radius(2px);}
        label.fieldError { .span(7); margin-left:235px; }
        .form-button {
            cursor:pointer;
			border:1px solid @borderBlue;
			height:26px;
        }
    }
}

#TradeAccountResultsPanel{

    label { width: 100%; }
    span { padding:0px; margin:0px;}
}

#TradeAccountForm {
.checkBoxText {
        width:300px;
        text-align:left;
        padding-left:138px;
        font-size:1em;
        padding-top:0px;
        margin-top:0px;
        
    }
}
#CourierForm {

    .fieldLabel { .span(4); text-align: right; }
    label.fieldError { .span(9); font-size: 1em; margin-left:180px; }
}

#CourierPreferencesForm {

    .fieldLabel { .span(4); text-align: right; }
    label.fieldError { .span(9); font-size: 1em; margin-left:175px; }
}

#jobsDiv tr > td:first-child+td, #jobsDiv tr > td:first-child+td+td+td+td+td+td {
    text-align:center;
}

#jobsDiv tr > td:first-child+td, #jobsDiv tr > td:first-child+td+td+td+td+td+td+td+td+td {
    text-align:center;
}

#jobsDiv tr td {
    vertical-align:middle;
}

.tableHover {
	position: absolute;
	text-align: center; 
	z-index: 9999999; 
	pointer-events: none;
	width: auto;
	background-color: #737373;
	opacity: 0.9;
	color:#fff;
	padding:3px 8px;
}