#jobdetails {

         form {
        p { color: darken(@grayLighter,45%) !important; }
}
	.inline-save { 
	background:@black !important;
        border:1px solid @black !important;
        .gradient(#888888, #000000);
	color:@white;
       
    }
    .inline-cancel{
	background-color:#e1253b;
         border:1px solid @red !important;
	.gradient(#f12a41, #e1253b);
	color:@white;
    }
    .head{
    background:@black;
/* added by thirumal */
    .icon_c, .icon_e { 
            width: 18px; 
            height: 18px;
            margin: 0 6px 0 0;
            float: left;
            background: url(Skins/@{theme}/images/accordion_icons.png) no-repeat 0px top;
        }
    }
    input.textSubmitButton {
	.form-button;
        }
}

#EQ7 { 

.leftAlign {
        color:darken(@grayLighter,45%);  // @black -- Thirumal
    }
}

.RAHistoryNotes{
    color:@black !important;
}